.fw-bold-500 {
    font-weight: 500 !important;
}

.bg-success {
    background-color: var(--profit-target-bg-color) !important;
}

.bg-danger {
    background-color: var(--max-loss-bg-color) !important;
}

.bg-warning {
    background-color: var(--daily-pause-bg-color) !important;
}