.maincontainer {
  overflow: scroll;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to top left,
      #f7f7f7 var(--body-background-color),
    );
}


.logo-img {
  height: 4rem;
}

@media (width: 1440px) {
  .maincontainer {
    margin-left: 270px !important;
  }
}

.sidebar {
  background: var(--layout-bg-color);
  box-shadow: none;
  width: 15rem;
  align-items: center !important;
}

.body-bg {
  background-color: var(--body-background-color) !important;
}

.form-label {
  color: var(--text-color) !important;
  margin: 0;
}


.nav-link {
  cursor: pointer;

  label {
    color: #4a494b;
    cursor: pointer;
    border-bottom: none;
    margin: 0;
  }

  img {
    height: 1.5rem;
  }
}

.nav-link:hover,
.nav-link:focus {
  color: #006699 !important;
}

.nav-item a {
  cursor: pointer;
}

.nav-link:focus-visible {
  box-shadow: none;
}

.nav-link.active-nav {
  label {
    color: white !important;
    // font-weight: 600;
  }

  background: var(--primary-color) !important;

}

.margins-response {
  height: 100%;
  overflow: hidden;
  margin-left: 10rem;
  margin-right: 10rem;
  margin-top: 1rem;
  margin-bottom: 3.5rem;
  width: calc(100% - 40rem);
}

@media screen and (max-width: 768px) {
  .margins-response {
    margin-bottom: 7rem;
  }
}

@media screen and (max-width: 2000px) {
  .margins-response {
    margin-left: 2rem;
    margin-right: 2rem;
    width: calc(100% - 23rem);
  }
}

@media screen and (max-width: 1440px) {
  .margins-response {
    margin-left: 3rem;
    margin-right: 3rem;
    width: calc(100% - 20rem);
  }
}

@media screen and (max-width: 1020px) {
  .margins-response {
    margin-left: 0rem;
    margin-right: 0rem;
    width: calc(100% - 0rem);
  }
}

@media screen and (min-width: 1021px) and (max-width: 1439px) {
  .margins-response {
    margin-left: 1rem;
    margin-right: 0rem;
    padding-right: 1.5rem;
  }
}