.round-bg {
    border-radius: 5px;
    background-color: var(--50-per-market-cap-bg-color) !important;
    color: var(--50-per-market-cap-text-color) !important;
    max-width: fit-content;
    font-size: 12px;
    padding: 5px;
}