<div class="row">

  <div class="col-md-12 d-flex justify-content-between align-items-center pt-4 pb-5 flex-column flex-sm-row">
    <h4 class="fs-20 fw-bold text-color">#999999 - Mini BP - Limited Edition - 20K</h4>
    <div>
      <button class="btn btn-sm me-2" [ngClass]="commonService.isDarkMode ? 'btn-dark' : 'btn-light bg-white'"
        type="button"><i class="fa fa-plus me-1 primary-color"></i>
        Partners</button>
      <button class="btn btn-sm me-2" [ngClass]="commonService.isDarkMode ? 'btn-dark' : 'btn-light bg-white'"
        type="button"><i class="fa fa-key me-1 primary-color"></i>Credentials</button>
    </div>
  </div>
  <div class="col-md-12 col-xl-9 py-2">

    <div class="row">
      <div class="col-md-4 py-2 py-md-0">
        <div class="card text-white bg-success">
          <div class="card-body">
            <h5 class="card-title text-white">Profit Target</h5>
            <p class="card-text text-white"><span class="fs-22 fw-bold">${{ profitTarget }}</span>/$1,350</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 py-2 py-md-0">
        <div class="card text-white bg-danger">
          <div class="card-body">
            <h5 class="card-title text-white">Max Loss</h5>
            <p class="card-text text-white"><span class="fs-22 fw-bold">${{ maxLoss }}</span>/-$900</p>

          </div>
        </div>
      </div>
      <div class="col-md-4 py-2 py-md-0">
        <div class="card text-white bg-warning">
          <div class="card-body">
            <h5 class="card-title text-white">Daily Pause</h5>
            <p class="card-text text-white"><span class="fs-22 fw-bold">${{ dailyPause }}</span> left</p>

          </div>
        </div>
      </div>
    </div>
    <div class="card mt-4">
      <div class="card-body">
        <h5 class="card-title fs-18">Account Balance</h5>

        <div class="d-flex justify-content-start gap-4 py-2">
          <div>
            <h5 class="card-title fs-12 text-muted">Daily P&L</h5>
            <p class="card-text fs-22">$0.00</p>
          </div>
          <div>
            <h5 class="card-title fs-12 text-muted">Unrealized P&L</h5>
            <p class="card-text fs-22">$0.00</p>
          </div>
          <div>
            <h5 class="card-title fs-12 text-muted">Balance</h5>
            <p class="card-text fs-22">$0.00</p>
          </div>
        </div>

        <canvas baseChart [height]="'80'" [data]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
          [legend]="lineChartLegend" [type]="lineChartType">
        </canvas>
      </div>
    </div>

    <div class="row d-flex flex-column flex-md-row mt-4">
      <div class="col py-2 py-md-0">
        <div class="card text-black">
          <div class="card-body py-2 d-flex align-items-center gap-1">
            <img src="assets/{{commonService?.isDarkMode ? 'dark' : 'light'}}/best-stock.png" alt="icon" class="me-2"
              width="45" height="45">
            <div>
              <h5 class="card-title fs-14 fw-bold text-nowrap">Best Stock</h5>
              <p class="card-text fs-18 fw-bold text-nowrap">AAPL</p>
            </div>

          </div>
        </div>
      </div>
      <div class="col py-2 py-md-0">
        <div class="card text-black">
          <div class="card-body py-2 d-flex align-items-center gap-1">
            <img src="assets/{{commonService?.isDarkMode ? 'dark' : 'light'}}/best-day.png" alt="icon" class="me-2"
              width="45" height="45">
            <div>
              <h5 class="card-title  fs-14 fw-bold text-nowrap">Best Day</h5>
              <p class="card-text fs-18 fw-bold text-nowrap">2025-02-13</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col py-2 py-md-0">
        <div class="card text-black">
          <div class="card-body py-2 d-flex align-items-center gap-1">
            <img src="assets/{{commonService?.isDarkMode ? 'dark' : 'light'}}/risk-ratio.png" alt="icon" class="me-2"
              width="45" height="45">
            <div>
              <h5 class="card-title  fs-14 fw-bold text-nowrap">Risk/Reward Ratio</h5>
              <p class="card-text fs-18 fw-bold text-nowrap">1:2.0</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col py-2 py-md-0">
        <div class="card text-black">
          <div class="card-body py-2 d-flex align-items-center gap-1">
            <img src="assets/{{commonService?.isDarkMode ? 'dark' : 'light'}}/success-rate.png" alt="icon" class="me-2"
              width="45" height="45">
            <div>
              <h5 class="card-title  fs-14 fw-bold text-nowrap">Success Rate</h5>
              <p class="card-text fs-18 fw-bold text-nowrap">52.00%</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <app-open-trades></app-open-trades>

    <app-closed-trades></app-closed-trades>

  </div>
  <div class="col-md-12 col-xl-3 py-2">
    <div class="card text-black">
      <div class="card-body py-2">
        <div class="d-flex flex-column gap-3">
          <div class="d-flex justify-content-between">
            <div class="d-flex w-100">
              <!-- <img src="assets/icons/account-type.png" alt="icon" class="me-2" width="20" height="20"> -->
              <span class="text-muted"><i class="fa fa-desktop me-2"></i></span>
              <div class="flex-item paragraph fs-12">Account Type</div>
            </div>
            <div class="flex-item fw-bold text-nowrap fs-14">
              Evaluation
            </div>
          </div>
          <div class="d-flex justify-content-between">
            <div class="d-flex w-100">
              <!-- <img src="assets/icons/account-platform.png" alt="icon" class="me-2" width="20" height="20"> -->
              <span class="text-muted"><i class="fa fa-rocket me-2"></i></span>
              <div class="flex-item paragraph fs-12">Account Platform</div>
            </div>
            <div class="flex-item fw-bold-500 text-nowrap fs-14">
              Trader Evolution
            </div>
          </div>
          <div class="d-flex justify-content-between">
            <div class="d-flex w-100">
              <!-- <img src="assets/icons/account-size.png" alt="icon" class="me-2" width="20" height="20"> -->
              <span class="text-muted"><i class="fa fa-university me-2"></i></span>
              <div class="flex-item paragraph fs-12">Account Size</div>
            </div>
            <div class="flex-item fw-bold-500 text-nowrap fs-14">
              $20,000.00
            </div>
          </div>
          <div class="d-flex justify-content-between">
            <div class="d-flex w-100">
              <!-- <img src="assets/icons/status.png" alt="icon" class="me-2" width="20" height="20"> -->
              <span class="text-muted"><i class="fa fa-recycle me-2"></i></span>
              <div class="flex-item paragraph fs-12">Status</div>
            </div>
            <div class="flex-item fw-bold-500 text-nowrap fs-14">
              Active
            </div>
          </div>
          <div class="d-flex justify-content-between">
            <div class="d-flex w-100">
              <!-- <img src="assets/icons/program-funds.png" alt="icon" class="me-2" width="20" height="20"> -->
              <span class="text-muted"><i class="fa fa-clock me-2"></i></span>
              <div class="flex-item paragraph fs-12">Program Ends</div>
            </div>
            <div class="flex-item fw-bold-500 text-nowrap fs-14">
              April 4, 2025
            </div>
          </div>
        </div>
        <div class="d-flex py-3">
          <button type="button" class="btn w-100 fs-14" [ngClass]="commonService.isDarkMode ? 'btn-dark' : 'btn-light'"
            disabled>
            <span class="primary-color"><i class="fa fa-university me-2"></i></span> Forbidden Practices</button>
        </div>

        <div class="d-flex flex-column gap-3">
          <div class="card text-black">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center gap-1">
                <h5 class="card-title fs-14 purple-color fw-bold">Best Trade Profit Limit</h5>
                <img src="assets/{{commonService?.isDarkMode ? 'dark' : 'light'}}/best-trade-profit.png" alt="icon">
              </div>
              <div class="round-bg mb-1">50% Cap Limit</div>
              <p class="card-text m-0"><span class="fs-18 fw-bold">{{ '31%' }}</span></p>
              <p class="card-text"><span class="fs-12">Your best trade can not exceed 50% of total profit.</span></p>

            </div>
          </div>

          <div class="card text-black">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center gap-1">
                <h5 class="card-title fs-14 purple-color fw-bold">Minimum Trades</h5>
                <img src="assets/{{commonService?.isDarkMode ? 'dark' : 'light'}}/minimum-trades.png" alt="icon">
              </div>
              <p class="card-text m-0"><span class="fs-18 fw-bold">{{ '10' }}</span>/10</p>
              <p class="card-text"><span class="fs-12">Should have minimum 10 trades.</span></p>

            </div>
          </div>
        </div>

        <div class="d-flex flex-column gap-2 py-3">

          <div class="d-flex">
            <h4 class="fs-18">Advanced Statistics</h4>
          </div>

          <div class="d-flex justify-content-between">
            <div class="flex-item paragraph fs-12">
              <span style="color: #f6559f">|</span>
              Remaining Risk
            </div>
            <div class="flex-item fw-bold-500 text-nowrap fs-14">
              $300.00
            </div>
          </div>
          <div class="d-flex justify-content-between">
            <div class="flex-item paragraph fs-12">
              <span style="color: #f6559f">|</span>
              Realize P&L
            </div>
            <div class="flex-item fw-bold-500 text-nowrap fs-14">
              $0.00
            </div>
          </div>
          <div class="d-flex justify-content-between">
            <div class="flex-item paragraph fs-12">
              <span style="color: #f6559f">|</span>
              Market Value
            </div>
            <div class="flex-item fw-bold-500 text-nowrap fs-14">
              $0.00
            </div>
          </div>
          <div class="d-flex justify-content-between">
            <div class="flex-item paragraph fs-12">
              <span style="color: #f6559f">|</span>
              Total Volume
            </div>
            <div class="flex-item fw-bold-500 text-nowrap fs-14">
              $0.00
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>