<section class="gradient-form h-100vh">
  <div class="card rounded-3 text-black h-100vh border-0" style="background-color: #f8f6f9;">
    <div class="row h-100vh">

      <div class="col-lg-6 d-flex justify-content-center align-items-center gradient-custom-2">
        <div class="text-white px-3 py-4 p-md-5 mx-md-4">
          <h4 class="mb-4">We are more than just a company</h4>
          <p class="small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
      </div>
      <div class="col-lg-6 body-bg d-flex justify-content-center align-items-center">
        <div class="card-body">

          <div class="text-center">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
              style="width: 185px;" alt="logo">
            <h4 class="mt-1 mb-5 pb-1">Login to your account</h4>
          </div>

          <form class="w-75 mx-auto">
            <div class="mb-3">
              <mat-form-field class="w-100" apearance="outline">
                <mat-label>Email Address</mat-label>
                <input type="email" matInput>
              </mat-form-field>
            </div>
            <div class="mb-3">
              <mat-form-field class="w-100">
                <mat-label>Password</mat-label>
                <input type="password" matInput>
              </mat-form-field>
            </div>
            <div class="text-center pt-1 mb-5 pb-1">
              <button class="btn my-3 pink-button w-100" type="button" routerLink="overview">Log in</button>
            </div>

            <!-- <div class="d-flex align-items-center justify-content-center pb-4">
              <p class="mb-0 me-2">Don't have an account?</p>
              <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-danger">Create
                new</button>
            </div> -->

          </form>

        </div>
      </div>
    </div>
  </div>
</section>