  .mat-header-font,
  .mat-cell-font {
    min-width: 5vh !important;
  }

  .min-width-custom {
    min-width: 15vh !important
  }

  @media screen and (max-width: 1536px) {

    .mat-header-font,
    .mat-cell-font {
      min-width: 15vh !important;
    }

    .min-width-custom {
      min-width: 20vh !important
    }
  }
  